<div class="full-page-jumbotron">
  <div class="content">
    <h4>
      Lei og lån ut klær
    </h4>
    <h5>
      Leiestedet er en side hvor du kan låne og leie ut klær, så slipper du å kjøpe dyre klær du kun bruker én gang.
    </h5>

    <a class="btn btn-large waves-effect">Registrer deg</a>
  </div>
</div>

<div class="container" id='about-us'>
  <h2>About us</h2>
  <div class="row">
    <div class="col s12 m4">
      <img src="http://lorempixel.com/400/300" alt="" class='responsive-img'>
    </div>
    <div class="col s12 m8">
      <p>
      Sit exercitationem sequi accusantium iure voluptatem. Dolorem maxime iste doloremque nam itaque perspiciatis culpa. Officiis sapiente error distinctio pariatur id?
      </p>
    </div>
  </div>
</div>
