<div class="full-page-jumbotron">
  <div class="content">
    <h4>Hvorfor eie når du kan leie?</h4>
    <h5>
      Vi ønsker å bidra til en mer bærekraftig og miljøvennlig motebransje
      ved å senke kjøpepresset og utnytte de klærne vi allerede har.
    </h5>

    <%= link_to 'Registrer deg', new_user_registration_path, class: 'btn btn-large waves-effect' %>
  </div>
</div>

<div class='container'>
  <div id='about-us'>
    <h2>Om oss</h2>
    <div class="row">
      <div class="col s12 l9">
        <p class='flow-text'>
        Vi er en gruppe elever fra Elvebakken videregående skole som har startet
        en ungdomsbedrift, <i>Leiestedet</i>. <i>Leiestedet</i> er en løsning på
        kjøp og kast-forbruket av klær i dagens samfunn. Vi tilbyr en tjeneste
        hvor man kan leie og leie ut klær, og med dette ønsker vi en mer
        sosialt inkluderende og miljøvennlig klespolitikk.
        </p>
      </div>
    </div>
  </div>

  <div id='contact'>
    <%# shy is for breaking words on smaller screens, really nice! %>
    <h2>Kontakt&shy;informasjon</h2>
    <div class="row">
      <div class="col s12 l9">
        <p class="flow-text card-panel">
          Magnus Windelstad<br>
          <a href="mailto:leiestedetub@gmail.com">leiestedetub@gmail</a><br>
          97798971<br>
        </p>
        <%= render partial: 'shared/map', locals: { place_id: "ChIJq4FuGGRuQUYRGKaGfXsjSoI" } %>
      </div>
    </div>
  </div>
</div>
