<div class="full-page-jumbotron">
  <div class="content">
    <h4>
      Dolor voluptates inventore accusantium vitae voluptate. Lorem ipsum dolor sit amet.
    </h4>
    <h5>
      Elit numquam deserunt perspiciatis molestias ipsum. Aliquid temporibus ipsa cupiditate?
    </h5>

    <div class="btn btn-large waves-effect">Test</div>
  </div>
</div>

<div class="container" id='about-us'>
  <h2>About us</h2>
  <div class="row">
    <div class="col s12 m4">
      <img src="http://lorempixel.com/400/300" alt="" class='responsive-img'>
    </div>
    <div class="col s12 m8">
      <p>
      Sit exercitationem sequi accusantium iure voluptatem. Dolorem maxime iste doloremque nam itaque perspiciatis culpa. Officiis sapiente error distinctio pariatur id?
      </p>
    </div>
  </div>
</div>
