<div class="full-page-jumbotron">
  <div class="content">
    <h4>Hvorfor eie når du kan leie?</h4>
    <h5>
      Vi ønsker å bidra til en mer bærekraftig og miljøvennlig motebransje
      ved å senke kjøpepresset og utnytte de klærne vi allerede har.
    </h5>

    <%= link_to 'Registrer deg', new_user_registration_path, class: 'btn btn-large waves-effect' %>
  </div>
</div>

<div class="container" id='about-us'>
  <h2>Om oss</h2>
  <div class="row">
    <div class="col s12 m4">
      <img src="http://lorempixel.com/400/300" alt="" class='responsive-img'>
    </div>
    <div class="col s12 m8">
      <p class='about-us-text flow-text'>
      Vi er en gruppe elever fra Elvebakken videregående skole som har startet
      en ungdomsbedrift, <i>Leiestedet</i>. <i>Leiestedet</i> er en løsning på
      kjøp og kast-forbruket av klær i dagens samfunn. Vi tilbyr en tjeneste
      hvor man kan leie og leie ut klær, og med dette ønsker vi en mer sosialt
      inkluderende og miljøvennlig klespolitikk.
      </p>
    </div>
  </div>
</div>

<div class="container" id='contact'>
  <h2>Kontaktinformasjon</h2>
  <div class="row">
    <div class="col s12">
      <p class='flow-text'>
        <strong class="role">Daglig leder </strong>
        <span class="name">Magnus Windelstad </span>
        &lt;<a href="magnus1306@osloskolen.no" class="email">magnus1306@osloskolen.no</a>&gt;
        <br>
        <strong class="role">Styreleder og økonomiansvarlig </strong>
        <span class="name">Elin Trommer </span>
        &lt;<a href="elin0805@osloskolen.no" class="email">elin0805@osloskolen.no</a>&gt;
        <br>
        <strong class="role">Markedsføringssjef </strong>
        <span class="name">Andrea Garbielsen </span>
        &lt;<a href="andreah1612@osloskolen.no" class="email">andreah1612@osloskolen.no</a>&gt;
        <br>
        <strong class="role">Produktansvarlig </strong>
        <span class="name">Jhowi Amaya </span>
        &lt;<a href="amaga002@osloskolen.no" class="email">amaga002@osloskolen.no</a>&gt;
        <br>
        <strong class="role">Personalansvarlig </strong>
        <span class="name">Tara Lu Steihaug </span>
        &lt;<a href="tasta007@osloskolen.no" class="email">tasta007@osloskolen.no</a>&gt;
      </p>
    </div>
  </div>
</div>
