<h1>Annonser</h1>
<hr>

<% @listings.each do |listing| %>
  <h2><%= link_to listing.title, listing_path(listing) %></h2>
  <p><%= listing.description %></p>
  <small>Listing by: <%= listing.user.email %></small>
<% end %>
