<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      Released under the AGPL-v3.0 license
      <a class="right" href="https://www.fullstck.io">made by <strong>fullstck</strong></a>
    </div>
  </div>
</footer>
