<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class='white-text'>Mer informasjon</h5>
        <p class="grey-text text-lighten-4">Her kan du skrive om ting du synes er interessant i livet..</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class='white-text'>Linker</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Released under the AGPL-v3 license
      <a class="grey-text text-lighten-4 right" href="https://www.fullstck.io">made by <strong>fullstck</strong></a>
    </div>
  </div>
</footer>
