<div class="col s6 m3">
  <a href="<%= listing_path(listing) %>">
    <div class="listing">
      <% if listing.listingimages[0] %>
        <%= image_tag listing.listingimages[0].thumb.url, class: 'z-depth-1 hoverable' %>
      <% else %>
        <%# TODO %>
        <%# <%= image_tag '', class: 'z-depth-1 hoverable' %1> %>
      <% end %>
      <div class="price chip">
        <%= listing.price %> kr
      </div>
    </div>
  </a>
</div>
