body {
  display: flex;
  flex-direction: column;
}

.container, .full-page-jumbotron {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  margin-top: 40px;

  .footer-copyright {
    border-top: 1px solid #424242;
    background-color: white;

    &, .container a {
      color: #424242;
    }
  }
}
