.footer-compliant-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-container {
  flex: auto;
}

footer {
  flex: auto;
  flex-grow: 0;
}

footer.page-footer {
  padding-top: 0;
  margin-top: 40px;

  .footer-copyright {
    border-top: 1px solid #424242;
    background-color: white;

    &, .container a {
      color: #424242;
    }
  }
}
