.errors {
  width: 100%;
  margin-bottom: 20px;

  .error {
    display: block;
  }
}

// Search bar
input[type='text']#query_string {
  margin-bottom: 0;
}

#search-div {
  margin-top: 0;
}

form .card-panel {
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.4);

  .active {
    color: black;
  }
}

// Listing on #index
.listing{
  position: relative;
  margin-bottom: 10px;

  img{
    width: 100% !important;
  }

  .price {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  h5 {
    padding: 6px 6px 10px 6px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

// Listing on listing#show
.listing-title {
  margin-bottom: 0;
}

.listing-name {
  margin-top: 0;
}

.listing-contactinfo * {
  vertical-align: middle;
}

.listing-detail .video-container {
  margin-top: 20px;
  overflow: visible;
}

.listing-images {
  margin-top: 1.78rem;
  cursor: pointer;
}

.listing-images-mobile {
  margin-bottom: 30px;
}

.modal {
  max-height: 90% !important;
}

.listing-placeholder {
  text-align: center;
}
