.errors {
  width: 100%;
  margin-bottom: 20px;

  .error {
    display: block;
  }
}

// Search bar
input[type='text']#query_string {
  margin-bottom: 0;
}

#search-div {
  margin-top: 0;
}

// Listing on #index
.listing{
  position: relative;
  margin-bottom: 10px;

  img{
    width: 100% !important;
  }

  .price {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}

// Listing on listing#show
.listing-title {
  margin-bottom: 0;
}

.listing-name {
  margin-top: 0;
}

.listing-contactinfo * {
  vertical-align: middle;
}

.listing-detail .video-container {
  margin-top: 20px;
}

.listing-images {
  margin-top: 1.78rem;
  cursor: pointer;
}

.modal {
  max-height: 90% !important;
}
