// Front page
body, html {
  height: 100%;
}

.full-page-jumbotron {
  height: 100%;

  display: flex;

  h4 {
    margin-top: 0;
  }

  .content {
    flex: auto;
    align-self: center;

    * {
      margin: auto;
      display: block;
    }

    *:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

// About us
.container#about-us {
  h2 {
    text-align: center;
  }
}

// Navbar
.navbar-fixed {
  position: fixed !important;
}


// Media queries
@media screen and (max-width: 660px) {
  .full-page-jumbotron>.content>* {
    width: 90%;

    &::not('.btn') {
      text-align: left;
    }
  }
}

@media screen and (min-width: 660px) {
  .full-page-jumbotron>.content>* {
    width: 40%;
    text-align: center;
  }
}
